#calculationArea {
	border: solid;
	border-color: lightgreen;
	border-radius: 0px 0px 30px 30px;
	padding: 20px;
	min-height: 500px;
	min-height: 500px;
	background-image: url("");
	background-repeat: repeat-x;
}

#donationArea {
	text-align: center;
}

#donationArea {
	background-color: lightgreen;
	border-radius: 30px 30px 30px 30px;
	padding: 20px;
	min-height: 50%;
	background-image: url("");
	background-repeat: repeat-x;
}

.row .col {
    padding: 0px;
}

.row.buttons{
	margin-bottom: 0px;
}

#chooseLicence.btn {
	border-radius: 0px 0px 0px 0px;
	width: 100%;
	@media #{$small-and-down} {
		border-color: red;
		border-radius: 30px 30px 30px 30px;
		width: 100%;
	}
}

#chooseCartype.btn {
	border-radius: 0px 00px 0px 0px;
	width: 100%;
}

#chooseIknow.btn {
	width: 100%;
}

div#donationTextBox{
	margin-top: 80px;
	min-height: 150px;
	border-radius: 20px 20px 20px 20px;
	background-color: lightblue;
}

#donatelaterBtn {
	margin: 5px;
}

#donatelaterBtn {
	margin: 5px;	
}

.car {
	opacity: 0.4;
	width: 100%;
}

.selectedCar {
	width: 100%;
	opacity: 1;
}

.car:hover {
	opacity: 1;
	width: 100%;
}

#carS:active , #carM:active , #carL:active  {
	opacity: 1;
}

#carS:active , #carM:active , #carL:active  {
	opacity: 1;
}

p#cargasInfo {
	text-align: center;
	margin: 0;
	font-size: 10px;
}

div.loadbar {
	min-height: 35px;
	margin-top: 10px;
	margin-left: 20px;
}