script.
	$( document ).ready(()=> {


	//__________Selecting Car year resulting in Car Make options

	//This reads the JSON info from the API
		function readCarMakes(){
			$.getJSON("http://www.carqueryapi.com/api/0.3/?callback=?", {cmd:"getMakes", year:$("#car-years").val()}, function(data) {
				$("#car-makes").empty()
			    let makes = data.Makes;
			    for (let i = 0; i < makes.length; i++){
			   		let carMakes = makes[i].make_display
					$("#car-makes").append("<option>"+carMakes+"</option")
			   	}
		    })
		}
	let carYears = $("#car-years").val()
	//Get the car makes of the selected year on click or keyup
		$("#car-years").click( function(e) {
			e.preventDefault()
			if( !isNaN(carYears) ){
				readCarMakes()
			}
		})
		$("#car-years").keyup( function(e) {
			e.preventDefault()
			if( !isNaN(carYears) ){
				readCarMakes()
			}
		})	

	//__________Selecting Car Make resulting in Car model options	

	//This reads the JSON info from the API
		function readCarModels(){
			$.getJSON("http://www.carqueryapi.com/api/0.3/?callback=?", { cmd:"getModels", make:$("#car-makes").val() }, function(data) {
				$("#car-models").empty()
			    let models = data.Models
			    for (let i = 0; i < models.length; i++){
			   		let carModels = models[i].model_name
					$("#car-models").append("<option>"+carModels+"</option")
			   	}
		    })
		}
	//Get the car models of the selected make on click or keyup
		$("#car-makes").click( function(e) {
			e.preventDefault()
			if( $("#car-makes").val()!=="---") {
				readCarModels()
			}
		})
		$("#car-makes").keyup( function(e) {
			e.preventDefault()
			if( $("#car-makes").val()!=="---" ){
				readCarModels()
			}
		})	

			//__________Get the specific trim of car model	

		//This reads the JSON info from the API
			function readCarTrims(){
				console.log( "readable?:"+$("#car-years").val())

				$.getJSON("http://www.carqueryapi.com/api/0.3/?callback=?&cmd=getTrims&make="+$("#car-makes").val()+"&model="+$("#car-models").val()+"&year="+$("#car-years").val(), function(data) {
					$("#car-trims").empty()
				    let trims = data.Trims
				    console.log(data.Trims)
				  //-   for (let i = 0; i < trims.length; i++){
				  //-  		console.log(trims[i].model_id)
				  //-  		let modelId = trims[i].model_id
						//- $("#car-trims").append("<option>"+modelId+"</option")
				  //-  	}
			    })
			}

		//Get the car trims of the selected model on click or keyup
			$("#car-models").click( function(e) {
				e.preventDefault()
				if( $("#car-models").val()!=="---") {
					console.log($("#car-models").val())
					readCarTrims()
				}
			})
			$("#car-models").keyup( function(e) {
				e.preventDefault()
				if( $("#car-models").val()!=="---" ){
					console.log($("#car-models").val())
					readCarTrims()
				}
			})




	})	