head
	script(rel='script', src='./jquery-3.1.1.min.js')
	link(type="text/css" rel="stylesheet" href="/css/materialize.css")
	link(type="text/css" rel="stylesheet" href="/sass/calcstyle.scss")
	link(type="text/css" rel="stylesheet" href="/css/animate.min.css")
	link(type="text/css" rel="stylesheet" href="/css/style.css")
	link(type="text/css" rel="stylesheet" href="/sass/calcstyle.scss")
	link(type="text/css" rel="stylesheet" href="/sass/materialize.scss")
	script(type="text/javascript" src="/jquery-3.1.1.min.js")
	script(type="text/javascript" src="/js/bin/materialize.min.js")
	link(href="https://fonts.googleapis.com/css?family=Jura|Orbitron|Damion|Shadows+Into+Light+Two" rel="stylesheet")
