head
	script(rel='script', src='./jquery-3.1.1.min.js')
	link(type="text/css" rel="stylesheet" href="/css/materialize.css")
	link(type="text/css" rel="stylesheet" href="/css/style.css")
	link(type="text/css" rel="stylesheet" href="/sass/calcstyle.scss")
	script(type="text/javascript" src="/jquery-3.1.1.min.js")
	script(type="text/javascript" src="/js/bin/materialize.min.js")
	//- script(rel='script', src='./js/carquery.0.3.4.js')
	