nav
	div.nav-wrapper
		a(href="/" class="brand-logo")
			img#navlogo(src="/images/cotree.png")
		ul.nav-mobile(class="right hide-on-med-and-down")
			li
				a(href="/calculation") Calculate
			li
				a(href="/donate") Donate
			li
				a(href="#") FAQ
			li
				a(href="/logout") Log-Out