nav
	div.nav-wrapper
<<<<<<< 8bc0821107e9c91841d740fc3b9977955c617d8f
		a(href="/" class="brand-logo")
			img#navlogo(src="/images/cotree.png")
		ul.nav-mobile(class="right hide-on-med-and-down")
			li
				a(href="/home") Calculate
			li
				a(href="/donate") Donate
			li
				a(href="#") FAQ
=======
		a(href="/profile" class="brand-logo")
			img#navlogo(src="/images/cotree.png")
		ul.nav-mobile(class="right hide-on-med-and-down")
			li
				a(href="/profile") Profile
			li
				a(href="/calculationrdw") Calculate
			li
				a(href="/donate") Donate
			li
				a(href="/faq") FAQ
>>>>>>> Sloppily added work
			li
				a(href="/logout") Log-Out