nav
	div.nav-wrapper
		a(href="/home" class="brand-logo")
			img#navlogo(src="/images/cotree.png")
		ul.nav-mobile(class="right hide-on-med-and-down")
			li
				a(href="/home") Profile
			li
				a(href="/calculation") Calculate
			li
				a(href="/faq") FAQ
			li
				a(href="/logout") Log-Out