nav
	div.nav-wrapper
		a(href="/profile" class="brand-logo")
			img#navlogo(src="/images/cotree.png")
		ul.nav-mobile(class="right hide-on-med-and-down")
			li
				a(href="/profile") Profile
			li
				a(href="/calculationrdw") Calculate
			li
				a(href="/donate") Donate
			li
				a(href="/faq") FAQ
			li
				a(href="/logout") Log-Out