html
	head
		title Calculation
		include includes/head.pug
		include includes/calculationscriptrdw.pug				
	body
		include includes/navbar.pug
		main
			h3 Calculate your ride
			form
				//- label Please fill in your gass mileage
				//- input#gasMileage(type='text', placeholder='liters of gas per 100KM')
				//- br
				//- .input-field.col.s12
				//- label Choose you fuel type
				//- select
				//- 	option(value='', disabled='', selected='') Diesel or Benzine
				//- 	option(value='1') Benzine
				//- 	option(value='2') Diesel
				//- br
				//- label Distance of your car-ride
				//- input#Kilometers(type='number', placeholder='distance in kilometers')
				//- br
				//- input#searchKenteken(type='button', val='', ue='Go!')
				//- #donationAmount
				div.row.buttons
					div.col.m1.offset-m1.buttongroup.col.s10.offset-s1
						input#chooseLicence.btn(type='button', value="Licence")
					div.col.m1.buttongroup.col.s10.offset-s1
						input#chooseIknow.btn(type='button', value="Mileage")
					div.col.m1.buttongroup.col.s10.offset-s1
						input#chooseCartype.btn(type='button', value="Car")
				div.row
					div#calculationArea.col.m3.offset-m1.col.s10.offset-s1
						form
							label Please fill in your licence number and your distance in kilometers
							input#Kenteken(type='text', value="6KVH13")
							br
							input#Kilometers(type='number', placeholder="distance in kilometers")
							br
							input#search.btn(type='button', value="Go!")
						div#donationAmount
	include includes/footer.pug




		//- button(onclick="readXML()") see xml data

