html
	head
		title Calculation
		include includes/head.pug
		include includes/calculationscriptrdw.pug				
	body
		include includes/navbar.pug
		main
			h3 Calculate your ride
			form
				div.row.buttons
					div.col.m1.offset-m1.buttongroup.col.s10.offset-s1
						input#chooseLicence.btn(type='button', value="Licence")
					div.col.m2.buttongroup.col.s10.offset-s1
						input#chooseIknow.btn(type='button', value="Mileage")
					div.col.m1.buttongroup.col.s10.offset-s1
						input#chooseCartype.btn(type='button', value="Car")
				div.row
					div#calculationArea.col.m4.offset-m1.col.s10.offset-s1
						form
							label Please fill in your licence number and your distance in kilometers
							input#Kenteken(type='text', value="74PKBV")
							br
							input#Kilometers(type='number', placeholder="distance in kilometers")
							br
							input#search.btn(type='button', value="Go!")
						div#donationAmount
	include includes/footer.pug




		//- button(onclick="readXML()") see xml data

