html
	head
		title Calculation
		include includes/head.pug
		include includes/calculationscriptrdw.pug				
	body
		h1 Calculate your ride
		h2 coTree badieboem
	form
		ul 
		p Fill in your vehicle registration number
		input#Kenteken(type='text', value="6KVH13")
		br
		input#Kilometers(type='number', placeholder="amount of kilometers")
		br
		input#searchKenteken(type='button', value="Calc")
	div#donationAmount




		//- button(onclick="readXML()") see xml data

