html
	head
		title Calculation
		include includes/head.pug
		include includes/calculationscriptrdw.pug			
	body
		include includes/navbar.pug
		div#homeheader.valign-wrapper
				div.row.valign
					h1.center.white-text Calculate your ride		
		main
			div.container 
				div.row
					div#calccard.card
						div.card-content
							form
								div.row#AppendHere
									div.col.m6.offset-m1.col.s10.offset-s1
										div.row.buttons
											div.col.m3.buttongroup.col.s10.offset-s1
												input#chooseLicence.btn(type='button', value="Licence")
											div.col.m4.buttongroup.col.s10.offset-s1
												input#chooseIknow.btn(type='button', value="Mileage")
											div.col.m3.buttongroup.col.s10.offset-s1
												input#chooseCartype.btn(type='button', value="Car")
										div.row#calculationAppend
											#calculationArea.col.m10.col.s10.offset-s1
												form
													label Please fill in your licence number and your distance in kilometers
													input#Kenteken(type='text', value='91SFBH',pattern='.{6,}' title='6 characters minimum' required)
													br
													input#Kilometers(type='number', placeholder='distance in kilometers' required)
													br
													input#search.btn(type='button', value='Go!')
													div.loadbar
														.preloader-wrapper.small.active
															.spinner-layer.spinner-green-only
																.circle-clipper.left
																	.circle
																.gap-patch
																	.circle
																.circle-clipper.right
																	.circle
													p tip: If you don't know your licence plate number,<br> choose another option at the tabs above.
									div.col.m5.col.s10.offset-s1
										#donationArea.col.m11.col.s10.offset-s1
											#CalcTitle.white-text Carbon Emmision Calculator
											#donationTextBox.col.s12
												br
												h5#donationAmount
											.col.s12
												a#donatenowBtn.btn(href='https://www.geef.nl/externalMod.php?gd=6856&taal=NL_NL', value='Donate total now') Donate Total Now &nbsp
												input#donatelaterBtn.btn(type='button', value='Save to your total')
										#totalsbox.col.m11.col.s10.offset-s1
											#totalTitle.center Total
												.totalinfo.col.s12
													div.col.s4.offset-s1
														.col.s12
															p.rechts Kilometers
															p.rechts To Donate
													div.col.s4.offset-s2
														.col.s12
															p#totalkm 0
															p#totaltodonate 0

								//- div.row#treeloader
								//- 	div.col.m6.offset-m8.col.s10.offset-s1
								//- 		include includes/treepreloadbar.pug										

						
	include includes/footer.pug




		//- button(onclick="readXML()") see xml data

