html
	head
		title Calculation
		include includes/head.pug
		include includes/calculationscriptrdw.pug				
	body
		include includes/navbar.pug
		div 
			row 
				a.waves-effect.waves-light.btn(href='https://www.geef.nl/externalMod.php?gd=6856&taal=NL_NL')
					| Doneren