html
	head
		title Homepage
		include includes/head.pug
	include includes/homescript.pug
	body
		include includes/navbar.pug
		main 
			div.container 
				div.row
					div#forest 
						h3#test omg them trees!
						-	for (var x=1, y= x + 'tree'; x < data.fulltree; x++) 
								div.tahrees.treecontainer
									div(id=y, class='tree')
										div
											img(src='/images/tree2.png')
							

						div.tahrees.remainderTreecontainer
							div.remainderTree
								div
									img(src='/images/tree2.png')
						div.tahrees.remainderTreecontainer
							div.nomoneytree
								div
									img(src='/images/tree2.png')
		footer.page-footer
			div.container
				div.row
					div.col-16-s12
						p.grey-text.text-lighten-4 Thank you for thinking of the environment!
			div.footer-copyright
				div.container  © 2016 Copyright COtree


