html
	head
		title Calculation
		include includes/head.pug
		include includes/calculationscriptrdw.pug				
	body
		// - Login Form
		.background 
		.login-form
			.overlay
				h1 Welcome to COTree!
				a(href="/auth/facebook")
					img(src='/images/fb_login.png')
				
	





