html
	head
		title Calculation
<<<<<<< 095fdf73004290d8a6cde5f1ffc39e0968edb256
		include includes/head.pug
		include includes/calculationscriptrdw.pug				
=======
		include includes/head.pug				
>>>>>>> Sloppily added work
	body
		// - Login Form
		.background 
		.login-form
			.overlay
				h1 Welcome to COTree!
				a(href="/auth/facebook")
					img(src='/images/fb_login.png')
<<<<<<< 095fdf73004290d8a6cde5f1ffc39e0968edb256
=======
			.row
				form.col.s12(action='/login' method='post')
					.row 
						.input-field-col.s12
							input#email(type='email' name='email' autocomplete='off' required)
							label(for='email') E-mail
					.row
						.input-field-col.s12
							input#password(type='password' name='password' autocomplete='off' required secret)
							label(for='password' ) Password
					.row
						button.btn.waves-effect.waves-light(type='submit')
							| Log-In
							i.material-icons.right send

>>>>>>> Sloppily added work
				
	





