html 
	head
		// - Style Sheets
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(type='text/css', rel='stylesheet', href='css/materialize.css', media='screen,projection')
		// - Scripts
		link(type='text/javascript', src='js/jquery-3.1.1.min.js')
		link(type='text/javascript', src='js/materialize.min.js')
		// - Meta
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		// - Navigation
		nav
			.nav-wrapper
				a.brand-logo(href='#') COTree
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href='profile') Profile
					li 
						a(href='#') Menu 2
					li 
						a(href='logout') Log-out
		// - Login Form
		h2#error-message= message