html
	head
		title Calculation
		include includes/head.pug
		include includes/calculationscriptrdw.pug				
	body
		include includes/navbar.pug
		main 
			div.container helloooo #{data.remainder}
				div#forest 
					h3 omg them trees!
					-	for (var x=1; x < data.fulltree; x++)
							div.treecontainer
								div.tree
									div
										img(src='/images/tree2.png')
					div.treecontainer
						div.remainderTree
							div
							img(src='/images/tree2.png')

		footer.page-footer
			div.container
				div.row
					div.col-16-s12
						h5.white-text Footer content
						p.grey-text.text-lighten-4 You can use rows and colums here to organize your footer content.
			div.footer-copyright
				div.container  © 2016 Copyright COtree

script.
	$(document).ready(function() {
		$('.remainderTree').css('height', '#{data.remainder}')
		//$('div.remainderTree').css('height', '50%')
	})


