html 
	head
		// - Style Sheets
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(type='text/css', rel='stylesheet', href='css/materialize.css', media='screen,projection')
		// - Scripts

		// - Meta
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		// - Navigation
		nav
			.nav-wrapper
				a.brand-logo(href='#') COTree
				ul#nav-mobile.right.hide-on-med-and-down

					li 
						a(href='register') Nanananana
					li 
						a(href='/logout') Log-Out
		// - Login Form
		h2#error-message= message
		h1 how cool
