html 
	head
		// - Style Sheets
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(type='text/css', rel='stylesheet', href='css/materialize.css', media='screen,projection')
		// - Meta
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		include includes/head.pug
	body
		.background
		.register-form
			.overlay
				h1.register.white-text Register
				form(action='/register' method='post')
					.row
						.input-field-col.s6
							p.white-text First Name
							input#first_name(type='text' name='first_name' autocomplete='off' required)
						.input-field-col.s6
							p.white-text Last Name
							input#last_name.white-text(type='text' name='last_name' autocomplete='off' required)
						.input-field-col.s6
							p.white-text Email
							input#email.white-text(type='email' name='email' autocomplete='off' required)
						.input-field-col.s6
							p.white-text Password
							input#password.white-text(type='password' name='password' autocomplete='off' required secret)
							h2#error-message= message
					.row
						button.btn.waves-effect.waves-light(type='submit')
							| Register
							i.material-icons.right send
						//- a.btn.waves-effect.waves-light.other(href="/")
						//- 	| Log-In &nbsp&nbsp&nbsp&nbsp
						//- 	i.material-icons.right send
