html 
	head
		// - Style Sheets
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(type='text/css', rel='stylesheet', href='css/materialize.css', media='screen,projection')
		// - Scripts
		link(type='text/javascript', src='js/jquery-3.1.1.min.js')
		link(type='text/javascript', src='js/materialize.min.js')
		// - Meta
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		// - Navigation
		nav
			.nav-wrapper
				a.brand-logo(href='#') COTree
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href='#') Home
					li 
						a(href='#') Menu 2
					li 
						a(href='#') Menu 3
		h2#error-message= message
		// - Registry form
		div
			.row
				form.col.s12(action='/register' method='post')
					.row
						.input-field-col.s6
							input#first_name(type='text' name='first_name' autocomplete='off' required)
							label(for='first_name') First Name
						.input-field-col.s6
							input#last_name(type='text' name='last_name' autocomplete='off' required)
							label(for='last_name') Last Name
					.row 
						.input-field-col.s12
							input#email(type='email' name='email' autocomplete='off' required)
							label(for='email') E-mail
					.row
						.input-field-col.s12
							input#password(type='password' name='password' autocomplete='off' required secret)
							label(for='password') Password
					.row
						button.btn.waves-effect.waves-light(type='submit')
							| Register
							i.material-icons.right send