.img {
  max-width: 100%; }

<<<<<<< 095fdf73004290d8a6cde5f1ffc39e0968edb256
nav, footer.page-footer {
  background-color: #512DA8; }

footer.page-footer {
  margin-top: 0px; }

=======
>>>>>>> Sloppily added work
.brand-logo {
  padding-left: 10px !important;
  padding-top: 3px !important; }

#navlogo {
  max-height: 54px; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

<<<<<<< HEAD
<<<<<<< 095fdf73004290d8a6cde5f1ffc39e0968edb256
main {
=======
#main {
>>>>>>> 26c5fd3cb887b6082f89b775d5f7f153887a528b
  flex: 1 0 auto; }

#homeheader {
  min-height: 300px;
  background-image: url("/images/Leaves.jpg");
  background-position: center; }

#homecard {
  margin-top: -60px; }

#bouncer {
  animation-iteration-count: infinite;
  animation-duration: 0.2s;
  animation-delay: 1s;
  margin-right: 0;
  max-width: 250px; }

#slider {
  animation-iteration-count: 1;
  animation-duration: 10s;
  margin-right: 0;
  max-width: 250px; }

#car {
  display: inline-block;
  margin-right: 0px; }
  #car img#carpic {
    max-width: 100px; }

#smoke {
  display: inline-block; }
  #smoke img#cloud1 {
    max-width: 20px;
    margin-right: 5px;
    margin-bottom: 2px;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite; }
  #smoke img#cloud2 {
    max-width: 30px;
    margin-right: 5px;
    margin-bottom: 7px;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite; }

@keyframes bounce {
  40%, 43% {
    transform: translate3d(0, -2px, 0); }
  70% {
    transform: translate3d(0, -1px, 0); }
  90% {
    transform: translate3d(0, -0.5px, 0); } }

@keyframes pulse {
  50% {
    transform: scale3d(1.2, 1.2, 1.2); } }

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: visible;
    transform: translate3d(250%, 0, 0); } }
=======
#main {
  flex: 1 0 auto;
  position: relative; }
>>>>>>> Sloppily added work

#forest {
  position: relative;
  background-color: transparent;
  background-position: cover; }

.treecontainer, .remainderTreecontainer {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 84px;
  background-color: transparent; }

.tree {
  position: absolute;
  bottom: 0;
  background-color: #4CAF50;
  height: 100px;
  width: 82px; }
  .tree:hover {
    background-color: green; }
  .tree img {
    height: 100px;
    position: absolute;
    z-index: 1; }

footer {
  position: relative; }

.remainderTree {
  position: absolute;
  visibility: hidden;
  bottom: 0;
  background-color: #4CAF50;
  width: 82px; }
  .remainderTree:hover {
    background-color: green; }
  .remainderTree img {
    height: 100px;
    position: absolute;
    bottom: 0; }

<<<<<<< 095fdf73004290d8a6cde5f1ffc39e0968edb256
.nomoneytree {
  position: absolute;
  visibility: hidden;
  bottom: 0;
  background-color: #BDBDBD;
  height: 100px;
  width: 82px;
  opacity: 0.2; }
  .nomoneytree:hover {
    opacity: 0.5; }
  .nomoneytree img {
    height: 100px;
    position: absolute;
    bottom: 0; }

=======
>>>>>>> Sloppily added work
.background {
  height: 100%;
  background-image: url("../images/background.jpg");
  background-size: cover; }

/* just some content with arbitrary styles for explanation purposes */
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 11;
  /* 1px higher than the overlay layer */ }
  .login-form h1 {
<<<<<<< 095fdf73004290d8a6cde5f1ffc39e0968edb256
    color: white; }

.tahrees {
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1; }
=======
    color: white;
    margin-left: 80px; }
>>>>>>> Sloppily added work
