nav, footer.page-footer {
  background-color: #512DA8; }

.brand-logo {
  padding-left: 10px !important;
  padding-top: 3px !important; }

#navlogo {
  max-height: 54px; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative; }

main {
  flex: 1 0 auto; }

#forest {
  position: relative;
  bottom: 0; }

.treecontainer, .remainderTreecontainer {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 84px; }

.tree {
  position: relative;
  bottom: 0;
  background-color: #4CAF50;
  height: 100px;
  width: 82px; }
  .tree img {
    height: 100px;
    position: absolute;
    z-index: 1; }
    .tree img:hover {
      animate: bounce; }

footer {
  position: relative; }

.remainderTree {
  position: absolute;
  bottom: 0;
  background-color: #4CAF50;
  width: 82px; }
  .remainderTree img {
    height: 100px;
    position: absolute;
    bottom: 0; }

.tahrees {
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1; }
